<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
      <!-- 配置自定義掃描的包--> 
      <context:component-scan base-package ="com.cy.test" ></context:component-scan>
      <context:component-scan base-package ="com.bigwu.test" ></context:component-scan>  
  
      <!-- 配置視圖解析器：如何把handler方法返回值解析為實際的物理視圖（路徑）--> 
      <bean
          class ="org.springframework.web.servlet.view.InternalResourceViewResolver" > 
         <property name ="prefix" value = "/WEB-INF/views/" ></property> <!--記住前後都需要加斜杠-->
         <property name ="suffix" value = ".jsp" ></property>  
      </bean > 
</beans >
